.element__image {
    background-color: black;
    background-size: cover;
    position: relative;
    object-position: top;
    object-fit: cover;
    display: block;
    width: 282px;
    height: 282px;
    cursor: pointer;
}